<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Casino Imports - Luxury Autos</title>
    <meta name="title" content="Casino Imports - Luxury Autos">
    <meta name="description" content="A Catalog for the Luxury Autos to help you find your import dream car easily.">
    <meta property="twitter:image" content="https://i.postimg.cc/vZWjpPw9/banner-min.png">
    <link rel="icon" href="https://i.postimg.cc/T25wYrTT/legacyrpnepal.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="view.css" />
    <script>
        const category = "heroic",
            title = "Casino",
            server = "";
    </script>
</head>
<div id="page">
    <h1><a href="/?expires=&amp;s=">Casino Imports</a></h1>
    <div id="vehicles"><div class="vehicle invert" data-model="16charger">
        <div class="details">
            <div class="inner">
                <span>16 Charge Dodge</span>
                <small>रु 2,200</small>
                <pre>16charger</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/16charger.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="66nov">
        <div class="details">
            <div class="inner">
                <span>1966 Revvy Nebula</span>
                <small>रु 1,600</small>
                <pre>66nov</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/66nov.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="rmodcamaro69">
        <div class="details">
            <div class="inner">
                <span>1969 Chefboyardee Camero</span>
                <small>रु 1,800</small>
                <pre>rmodcamaro69</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/rmodcamaro69.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="dmc12wb">
        <div class="details">
            <div class="inner">
                <span>1981 TDM Flux</span>
                <small>रु 1,400</small>
                <pre>dmc12wb</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/dmc12wb.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="gxr33">
        <div class="details">
            <div class="inner">
                <span>1993 Nihon (R33)</span>
                <small>रु 3,000</small>
                <pre>gxr33</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/gxr33.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="m3wb">
        <div class="details">
            <div class="inner">
                <span>1996 Bravaria Editon 3</span>
                <small>रु 2,000</small>
                <pre>m3wb</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/m3wb.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="tsgr20">
        <div class="details">
            <div class="inner">
                <span>20 Typhoon Sura</span>
                <small>रु 2,600</small>
                <pre>tsgr20</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/tsgr20.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="skart">
        <div class="details">
            <div class="inner">
                <span>2002 Mart Kart</span>
                <small>रु 1,000</small>
                <pre>skart</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/skart.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="pulse">
        <div class="details">
            <div class="inner">
                <span>2008 Unity Pulse</span>
                <small>रु 2,100</small>
                <pre>pulse</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/pulse.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="s281">
        <div class="details">
            <div class="inner">
                <span>2009 Silvermoon Stallion</span>
                <small>रु 1,600</small>
                <pre>s281</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/s281.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="bentaygast">
        <div class="details">
            <div class="inner">
                <span>2017 Bentleigh Bentiga</span>
                <small>रु 1,800</small>
                <pre>bentaygast</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/bentaygast.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="fk8">
        <div class="details">
            <div class="inner">
                <span>2018 Harmonia Civic Type R</span>
                <small>रु 3,500</small>
                <pre>fk8</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/fk8.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="v60">
        <div class="details">
            <div class="inner">
                <span>2018 V Wagon TT</span>
                <small>रु 1,800</small>
                <pre>v60</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/v60.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="ramtrx21">
        <div class="details">
            <div class="inner">
                <span>2021 Demon Slam</span>
                <small>रु 1,800</small>
                <pre>ramtrx21</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/ramtrx21.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="mache21">
        <div class="details">
            <div class="inner">
                <span>2021 Stallion Rock 3 EV</span>
                <small>रु 2,000</small>
                <pre>mache21</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/mache21.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="m7cstm">
        <div class="details">
            <div class="inner">
                <span>2022 Bavaria 770s</span>
                <small>रु 1,800</small>
                <pre>m7cstm</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/m7cstm.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="i422">
        <div class="details">
            <div class="inner">
                <span>2022 Bavaria EV4</span>
                <small>रु 2,000</small>
                <pre>i422</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/i422.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="humev22">
            <div class="details">
                <div class="inner">
                    <span>2023 Hammer EV</span>
                    <small>रु 1,600</small>
                    <pre>humev22</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/humev22.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="jesko">
            <div class="details">
                <div class="inner">
                    <span>2023 Kongtech Presto</span>
                    <small>रु 2500</small>
                    <pre>jesko</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/jesko.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="gladiator">
            <div class="details">
                <div class="inner">
                    <span>2023 Sheep Annihilator</span>
                    <small>रु 2000</small>
                    <pre>gladiator</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/gladiator.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="gdaq50">
            <div class="details">
                <div class="inner">
                    <span>2024 Eterniti S50</span>
                    <small>रु 2,400</small>
                    <pre>gdaq50</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/gdaq50.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="lanzador">
            <div class="details">
                <div class="inner">
                    <span>2024 Fettuccini Brocca</span>
                    <small>रु 1,800</small>
                    <pre>lanzador</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/lanzador.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="24rs7">
            <div class="details">
                <div class="inner">
                    <span>2024 Orion 7 RS</span>
                    <small>रु 2,400</small>
                    <pre>24rs7</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/24rs7.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="24tac">
            <div class="details">
                <div class="inner">
                    <span>2024 Typhoon Traveler</span>
                    <small>रु 1,800</small>
                    <pre>24tac</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/24tac.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="99viper">
            <div class="details">
                <div class="inner">
                    <span>99 Venom Charger</span>
                    <small>रु 2,400</small>
                    <pre>99viper</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/99viper.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="bmwg07">
            <div class="details">
                <div class="inner">
                    <span>Bavaria G 07</span>
                    <small>रु 1,800</small>
                    <pre>bmwg07</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/bmwg07.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="rmodmi8lb">
            <div class="details">
                <div class="inner">
                    <span>Bavaria I8 Freedom Stroll</span>
                    <small>रु 2,800</small>
                    <pre>rmodmi8lb</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/rmodmi8lb.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="1500dj">
            <div class="details">
                <div class="inner">
                    <span>Chefboyardee 1500DJ</span>
                    <small>रु 2,600</small>
                    <pre>1500dj</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/1500dj.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="focusrs">
            <div class="details">
                <div class="inner">
                    <span>Falcon Focus RS 2017</span>
                    <small>रु 1,800</small>
                    <pre>focusrs</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/focusrs.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="forgt50020">
            <div class="details">
                <div class="inner">
                    <span>Falcon Stallion Shelby</span>
                    <small>रु 2,400</small>
                    <pre>forgt50020</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/forgt50020.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="gclas9">
            <div class="details">
                <div class="inner">
                    <span>G Carriage</span>
                    <small>रु 3,000</small>
                    <pre>gclas9</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/gclas9.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="honcub">
            <div class="details">
                <div class="inner">
                    <span>Honga 2&4 Project</span>
                    <small>रु 3,000</small>
                    <pre>honcub</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/honcub.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="ikx3levis">
            <div class="details">
                <div class="inner">
                    <span>Jeeb CJ 5 Renegader Levi's Edition 1976</span>
                    <small>रु 1,600</small>
                    <pre>ikx3levis</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/ikx3levis.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="lynxgpr">
            <div class="details">
                <div class="inner">
                    <span>Jinx GPR</span>
                    <small>रु 2,200</small>
                    <pre>lynxgpr</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/lynxgpr.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="fd">
            <div class="details">
                <div class="inner">
                    <span>Madza FD</span>
                    <small>रु 2,800</small>
                    <pre>fd</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/fd.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="granlb">
            <div class="details">
                <div class="inner">
                    <span>Maseratti Freedom Stroll</span>
                    <small>रु 2,600</small>
                    <pre>granlb</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/granlb.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="765lt">
            <div class="details">
                <div class="inner">
                    <span>Mercia McLarson 765</span>
                    <small>रु 3,000</small>
                    <pre>765lt</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/765lt.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="potty">
            <div class="details">
                <div class="inner">
                    <span>Motor Potty</span>
                    <small>रु 1,200</small>
                    <pre>potty</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/potty.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="r34">
            <div class="details">
                <div class="inner">
                    <span>Nihon GTR (R34)</span>
                    <small>रु 3,500</small>
                    <pre>r34</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/r34.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="r35">
            <div class="details">
                <div class="inner">
                    <span>Nihon GTR (R35)</span>
                    <small>रु 3,800</small>
                    <pre>r35</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/r35.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="palletcar">
            <div class="details">
                <div class="inner">
                    <span>Pallet Lifter Supersport</span>
                    <small>रु 800</small>
                    <pre>palletcar</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/palletcar.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="reagpr">
            <div class="details">
                <div class="inner">
                    <span>Pegassi Reaper</span>
                    <small>रु 1,800</small>
                    <pre>reagpr</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/reagpr.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="dogmaf12">
            <div class="details">
                <div class="inner">
                    <span>Pinarello Doctrine F12</span>
                    <small>रु 900</small>
                    <pre>dogmaf12</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/dogmaf12.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="rmodtracktor">
            <div class="details">
                <div class="inner">
                    <span>Prime Gear Track-Tor</span>
                    <small>रु 1,400</small>
                    <pre>rmodtracktor</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/rmodtracktor.png" loading="lazy"></div>
        </div><div class="vehicle invert" data-model="c7r">
            <div class="details">
                <div class="inner">
                    <span>RMOD Corvex C7</span>
                    <small>रु 1,800</small>
                    <pre>c7r</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        
            <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/c7r.png" loading="lazy"></div>
        </div><div class="vehicle " data-model="lhuracant">
            <div class="details">
                <div class="inner">
                    <span>Rambarini Hurricane</span>
                    <small>रु 2,900</small>
                    <pre>lhuracant</pre>
                </div>
        
                <div class="colors">
                    <div class="color" data-color="mb" title="Matte Black"></div>
                    <div class="color" data-color="mw" title="Matte White"></div>
                    <div class="color" data-color="r" title="Red"></div>
                    <div class="color" data-color="g" title="Green"></div>
                    <div class="color" data-color="b" title="Blue"></div>
                </div>
            </div>
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/lhuracant.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="peanut">
        <div class="details">
            <div class="inner">
                <span>Tiny Peanut</span>
                <small>रु 1,000</small>
                <pre>peanut</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/peanut.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="nspeedo">
    <div class="details">
        <div class="inner">
            <span>Truffade Alpha-Type</span>
            <small>रु 1000</small>
            <pre>type1</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/type1.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="supra2">
    <div class="details">
        <div class="inner">
            <span>Telsa Model S</span>
            <small>रु 1,400</small>
            <pre>teslamodels</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/teslamodels.png" loading="lazy"></div>
</div><div class="vehicle " data-model="youga3">
    <div class="details">
        <div class="inner">
            <span>2023 Bravaria W2</span>
            <small>रु 2,000</small>
            <pre>nbjm2</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/casino/nbjm2.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="zr3806str">
    <div class="details">
        <div class="inner">
            <span>V8 Undead Chopper</span>
            <small>रु 1200</small>
            <pre>zombiev8</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%)"><img alt="EDM vehicle" src="images/casino/zombiev8.png" loading="lazy"></div>
    <p id="footer">© Luxury Autos By FouL Gaming</p></div>
<body>
    <div id="page">
        <h1><a href="/?expires=&s=">Casino Imports</a></h1>
        <div id="vehicles"></div>
    </div>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/polyfill.js"></script>
    <script src="js/view.js"></script>
</body>

</html>
