<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Heroic Imports - Luxury Autos</title>
    <meta name="title" content="Heroic Imports - Luxury Autos">
    <meta name="description" content="A Catalog for the Luxury Autos to help you find your import dream car easily.">
    <meta property="twitter:title" content="Heroic Imports - Luxury Autos">
    <meta property="twitter:image" content="https://i.postimg.cc/vZWjpPw9/banner-min.png">
    <link rel="icon" href="https://i.postimg.cc/T25wYrTT/legacyrpnepal.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/view.css" />
    <script>
        const category = "heroic",
            title = "Heroic",
            server = "";
    </script>
</head>
<div id="page">
    <h1><a href="/?expires=&amp;s=">Heroic Imports</a></h1>
    <div id="vehicles"><div class="vehicle invert" data-model="silvias15">
        <div class="details">
            <div class="inner">
                <span>15 Silver</span>
                <small>रु 1,400</small>
                <pre>silvias15</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/silvias15.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="gtx">
        <div class="details">
            <div class="inner">
                <span>1971 Plimoth GTX</span>
                <small>रु 2,000</small>
                <pre>gtx</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/gtx.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="ypg205t16b">
        <div class="details">
            <div class="inner">
                <span>1988 Pegasso 205 GTi Rally</span>
                <small>रु 1,400</small>
                <pre>ypg205t16b</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/ypg205t16b.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="fc3s">
        <div class="details">
            <div class="inner">
                <span>1990 Madza RX7</span>
                <small>रु 1,600</small>
                <pre>fc3s</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/fc3s.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="rmod240sx">
        <div class="details">
            <div class="inner">
                <span>1990 Nihon 240sx Pandem</span>
                <small>रु 1,800</small>
                <pre>rmod240sx</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/rmod240sx.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="toysupmk4">
        <div class="details">
            <div class="inner">
                <span>1998 Typhoon Sura Mk4 Wide Body</span>
                <small>रु 2,500</small>
                <pre>toysupmk4</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/toysupmk4.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="m3f80">
        <div class="details">
            <div class="inner">
                <span>1999 Bavaria M3 F80</span>
                <small>रु 1,500</small>
                <pre>m3f80</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/m3f80.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="na6">
        <div class="details">
            <div class="inner">
                <span>1999 Madza Miata</span>
                <small>रु 1,500</small>
                <pre>na6</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/na6.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="springer">
        <div class="details">
            <div class="inner">
                <span>2000 Harleyway Heritage Springer</span>
                <small>रु 1,100</small>
                <pre>springer</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/springer.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="e46">
        <div class="details">
            <div class="inner">
                <span>2001 Bavaria M3 E46</span>
                <small>रु 2,000</small>
                <pre>e46</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/e46.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="lanex400">
        <div class="details">
            <div class="inner">
                <span>2008 Mistral Evolution X FQ-400</span>
                <small>रु 1,800</small>
                <pre>lanex400</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/lanex400.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="xkgt">
        <div class="details">
            <div class="inner">
                <span>2015 Jaguard XKR-S GT</span>
                <small>रु 1,800</small>
                <pre>xkgt</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/xkgt.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="vgt12">
        <div class="details">
            <div class="inner">
                <span>2015 Stellar Orion GT12</span>
                <small>रु 1,800</small>
                <pre>vgt12</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/vgt12.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="rmodzl1">
        <div class="details">
            <div class="inner">
                <span>2016 Chefboyardee Camero ZL1 Widebody</span>
                <small>रु 1,600</small>
                <pre>rmodzl1</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/rmodzl1.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="mxpan">
        <div class="details">
            <div class="inner">
                <span>2016 Madza MX-5 Pandem</span>
                <small>रु 1,800</small>
                <pre>mxpan</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/mxpan.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="rmodx6">
        <div class="details">
            <div class="inner">
                <span>2018 Bavaria X6M F16 Widebuild</span>
                <small>रु 1,800</small>
                <pre>rmodx6</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/rmodx6.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="contss18c">
        <div class="details">
            <div class="inner">
                <span>2018 Bentleigh Continent GT Cabrio</span>
                <small>रु 2,000</small>
                <pre>contss18c</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/contss18c.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="toy86">
        <div class="details">
            <div class="inner">
                <span>2018 Typhoon GT86</span>
                <small>रु 1,600</small>
                <pre>toy86</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/toy86.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="rmodbiposto">
        <div class="details">
            <div class="inner">
                <span>2020 Abert 695 Biposto</span>
                <small>रु 1,400</small>
                <pre>rmodbiposto</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/rmodbiposto.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="a6">
        <div class="details">
            <div class="inner">
                <span>2020 Orion A6</span>
                <small>रु 1,800</small>
                <pre>a6</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/a6.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="69charger">
        <div class="details">
            <div class="inner">
                <span>69 Charge RT10</span>
                <small>रु 1,600</small>
                <pre>69charger</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/69charger.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="camaro_ss">
        <div class="details">
            <div class="inner">
                <span>Camero SS</span>
                <small>रु 1,600</small>
                <pre>camaro_ss</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/camaro_ss.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="c7">
        <div class="details">
            <div class="inner">
                <span>Corvex C7</span>
                <small>रु 2,000</small>
                <pre>c7</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/c7.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="gauntlet6str">
        <div class="details">
            <div class="inner">
                <span>Goliath 6GT</span>
                <small>रु 1,600</small>
                <pre>gauntlet6str</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/gauntlet6str.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="templar">
        <div class="details">
            <div class="inner">
                <span>Harleyway</span>
                <small>रु 1,000</small>
                <pre>templar</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/templar.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="harleychopper">
        <div class="details">
            <div class="inner">
                <span>Harleyway Chopper</span>
                <small>रु 1,000</small>
                <pre>harleychopper</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/harleychopper.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="hvrod">
        <div class="details">
            <div class="inner">
                <span>Harleyway Nightrod</span>
                <small>रु 1,100</small>
                <pre>hvrod</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/hvrod.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="lc500">
        <div class="details">
            <div class="inner">
                <span>Lexis LC500</span>
                <small>रु 1,800</small>
                <pre>lc500</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/lc500.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="rmodgt63">
        <div class="details">
            <div class="inner">
                <span>Mercia AMG</span>
                <small>रु 1,600</small>
                <pre>rmodgt63</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/rmodgt63.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="c63s">
        <div class="details">
            <div class="inner">
                <span>Mercia-Benz C63s</span>
                <small>रु 1,600</small>
                <pre>c63s</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/c63s.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="g65">
        <div class="details">
            <div class="inner">
                <span>Mercia-Benz G65</span>
                <small>रु 1,800</small>
                <pre>g65</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/g65.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="eclipse">
        <div class="details">
            <div class="inner">
                <span>Mistral Eclipse</span>
                <small>रु 1,500</small>
                <pre>eclipse</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/eclipse.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="evo9">
        <div class="details">
            <div class="inner">
                <span>Mistral Evolution</span>
                <small>रु 1,800</small>
                <pre>evo9</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/evo9.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="titanbyv">
        <div class="details">
            <div class="inner">
                <span>Nihon Titan</span>
                <small>रु 2,600</small>
                <pre>titanbyv</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/titanbyv.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="rs62">
        <div class="details">
            <div class="inner">
                <span>Orion RS62</span>
                <small>रु 1,600</small>
                <pre>rs62</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/rs62.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="sancyb4">
        <div class="details">
            <div class="inner">
                <span>Phancy B4</span>
                <small>रु 1,800</small>
                <pre>sancyb4</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/sancyb4.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="velar">
        <div class="details">
            <div class="inner">
                <span>Range Rambler Velar</span>
                <small>रु 1,400</small>
                <pre>velar</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/velar.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="db11">
        <div class="details">
            <div class="inner">
                <span>Stellar Orion DB11</span>
                <small>रु 1,800</small>
                <pre>db11</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/db11.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="subwrx">
        <div class="details">
            <div class="inner">
                <span>Subari WRX STI</span>
                <small>रु 1,800</small>
                <pre>subwrx</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/subwrx.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="jzx100">
        <div class="details">
            <div class="inner">
                <span>Typhoon Pursuer Drift</span>
                <small>रु 1,600</small>
                <pre>jzx100</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/heroic/jzx100.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="filthynsx">
        <div class="details">
            <div class="inner">
                <span>Unclean NSAX</span>
                <small>रु 2,000</small>
                <pre>filthynsx</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/filthynsx.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="rmodmk7">
        <div class="details">
            <div class="inner">
                <span>Var MK7</span>
                <small>रु 1,800</small>
                <pre>rmodmk7</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 0 100%)"><img alt="EDM vehicle" src="images/heroic/rmodmk7.png" loading="lazy"></div>
    </div></div>
    <p id="footer">© Luxury Autos By FouL Gaming</p></div>
<body>
    <div id="page">
        <h1><a href="/?expires=&s=">Heroic Imports</a></h1>
        <div id="vehicles"></div>
    </div>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/polyfill.js"></script>
    <script src="/js/view.js"></script>
</body>

</html>
