<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Legendary Imports - Luxury Autos</title>
    <meta name="title" content="Legendary Imports - Luxury Autos">
    <meta name="description" content="A Catalog for the Luxury Autos to help you find your import dream car easily.">
    <meta property="twitter:image" content="https://i.postimg.cc/vZWjpPw9/banner-min.png">
    <link rel="icon" href="https://i.postimg.cc/T25wYrTT/legacyrpnepal.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/view.css" />
    <script>
        const category = "legendary",
            title = "Legendary",
            server = "";
    </script>
</head>
<div id="vehicles"><div class="vehicle invert" data-model="r32">
    <div class="details">
        <div class="inner">
            <span>1993 Nihon BNR32</span>
            <small>रु 2,800</small>
            <pre>r32</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/r32.png" loading="lazy"></div>
</div><div class="vehicle " data-model="mr2">
    <div class="details">
        <div class="inner">
            <span>1993 Typhoon MR2</span>
            <small>रु 2,000</small>
            <pre>mr2</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/mr2.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="rmodescort">
    <div class="details">
        <div class="inner">
            <span>1996 Falcon Escort RS Cosworth</span>
            <small>रु 2,400</small>
            <pre>rmodescort</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/rmodescort.png" loading="lazy"></div>
</div><div class="vehicle " data-model="er34">
    <div class="details">
        <div class="inner">
            <span>1999 Nihon Skyline ER34 GTT</span>
            <small>रु 2,500</small>
            <pre>er34</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/er34.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="dyne">
    <div class="details">
        <div class="inner">
            <span>2004 Harleyway Dyna Super Glide</span>
            <small>रु 1,200</small>
            <pre>dyne</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/dyne.png" loading="lazy"></div>
</div><div class="vehicle " data-model="fgt">
    <div class="details">
        <div class="inner">
            <span>2005 Falcon GT</span>
            <small>रु 2,000</small>
            <pre>fgt</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/fgt.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="c63">
    <div class="details">
        <div class="inner">
            <span>2006 Mercia-Benz AMG C63</span>
            <small>रु 2,000</small>
            <pre>c63</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/c63.png" loading="lazy"></div>
</div><div class="vehicle " data-model="rx811">
    <div class="details">
        <div class="inner">
            <span>2008 Madza RX8</span>
            <small>रु 2,200</small>
            <pre>rx811</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/rx811.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="rmodz350pandem">
    <div class="details">
        <div class="inner">
            <span>2008 Nihon 350z Pandem</span>
            <small>रु 1,800</small>
            <pre>rmodz350pandem</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/rmodz350pandem.png" loading="lazy"></div>
</div><div class="vehicle " data-model="e89">
    <div class="details">
        <div class="inner">
            <span>2010 Bavaria Z4 GT3</span>
            <small>रु 2,000</small>
            <pre>e89</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/e89.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="rmodlfa">
    <div class="details">
        <div class="inner">
            <span>2010 Lexis LFA</span>
            <small>रु 2,800</small>
            <pre>rmodlfa</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/rmodlfa.png" loading="lazy"></div>
</div><div class="vehicle " data-model="mst">
    <div class="details">
        <div class="inner">
            <span>2013 Falcon Stallion Shelby GT500</span>
            <small>रु 2,000</small>
            <pre>mst</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/mst.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="918">
    <div class="details">
        <div class="inner">
            <span>2015 Porchse 918 Spider</span>
            <small>रु 2,400</small>
            <pre>918</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/918.png" loading="lazy"></div>
</div><div class="vehicle " data-model="675ltsp">
    <div class="details">
        <div class="inner">
            <span>2016 McLoren 675LT Freedom Stroll</span>
            <small>रु 3,000</small>
            <pre>675ltsp</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/675ltsp.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="amggtr">
    <div class="details">
        <div class="inner">
            <span>2016 Mercia-Benz AMG GT</span>
            <small>रु 2,200</small>
            <pre>amggtr</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/amggtr.png" loading="lazy"></div>
</div><div class="vehicle " data-model="17mansorypnmr">
    <div class="details">
        <div class="inner">
            <span>2017 Porchse Mansory Panamera</span>
            <small>रु 2,000</small>
            <pre>17mansorypnmr</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/17mansorypnmr.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="4c">
    <div class="details">
        <div class="inner">
            <span>2018 Alpha Romea 4C Spider</span>
            <small>रु 1,800</small>
            <pre>4c</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/4c.png" loading="lazy"></div>
</div><div class="vehicle " data-model="f82lw">
    <div class="details">
        <div class="inner">
            <span>2018 Bavaria M4 Freedom Stroll</span>
            <small>रु 2,000</small>
            <pre>f82lw</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/f82lw.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="aventador">
    <div class="details">
        <div class="inner">
            <span>2019 Rambarini Aventador S</span>
            <small>रु 3,200</small>
            <pre>aventador</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/aventador.png" loading="lazy"></div>
</div><div class="vehicle " data-model="mansq60">
    <div class="details">
        <div class="inner">
            <span>2020 Bavaria M4 Infinity Q60 Black S</span>
            <small>रु 2,000</small>
            <pre>mansq60</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/mansq60.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="rmodrover">
    <div class="details">
        <div class="inner">
            <span>2020 Ranger Rove Mansory</span>
            <small>रु 1,800</small>
            <pre>rmodrover</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/rmodrover.png" loading="lazy"></div>
</div><div class="vehicle " data-model="wildtrak">
    <div class="details">
        <div class="inner">
            <span>2021 Falcon Bronco</span>
            <small>रु 1,700</small>
            <pre>wildtrak</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/wildtrak.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="mansm4">
    <div class="details">
        <div class="inner">
            <span>2022 Bavaria M4 Competition</span>
            <small>रु 2,000</small>
            <pre>mansm4</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/mansm4.png" loading="lazy"></div>
</div><div class="vehicle " data-model="i8">
    <div class="details">
        <div class="inner">
            <span>Bavaria i8</span>
            <small>रु 2,200</small>
            <pre>i8</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/i8.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="bmci">
    <div class="details">
        <div class="inner">
            <span>Bavaria M5</span>
            <small>रु 2,000</small>
            <pre>bmci</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/bmci.png" loading="lazy"></div>
</div><div class="vehicle " data-model="bugatti">
    <div class="details">
        <div class="inner">
            <span>Bugarto Verona</span>
            <small>रु 3,500</small>
            <pre>bugatti</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/bugatti.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="zl12017">
    <div class="details">
        <div class="inner">
            <span>Camero ZL1</span>
            <small>रु 1,900</small>
            <pre>zl12017</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/zl12017.png" loading="lazy"></div>
</div><div class="vehicle " data-model="dcd">
    <div class="details">
        <div class="inner">
            <span>Challenger Daemon</span>
            <small>रु 2,800</small>
            <pre>dcd</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/dcd.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="4881">
    <div class="details">
        <div class="inner">
            <span>Ferari 488</span>
            <small>रु 2,800</small>
            <pre>4881</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/4881.png" loading="lazy"></div>
</div><div class="vehicle " data-model="berlinetta">
    <div class="details">
        <div class="inner">
            <span>Ferari Berlinetta</span>
            <small>रु 3,000</small>
            <pre>berlinetta</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/berlinetta.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="lwgtr">
    <div class="details">
        <div class="inner">
            <span>Freedom Stroll GTR</span>
            <small>रु 3,400</small>
            <pre>lwgtr</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/lwgtr.png" loading="lazy"></div>
</div><div class="vehicle " data-model="r1">
    <div class="details">
        <div class="inner">
            <span>Kasaki R1</span>
            <small>रु 1,800</small>
            <pre>r1</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/r1.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="ninja300">
    <div class="details">
        <div class="inner">
            <span>Kasaki Shinobi</span>
            <small>रु 1,500</small>
            <pre>ninja300</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/ninja300.png" loading="lazy"></div>
</div><div class="vehicle " data-model="r820">
    <div class="details">
        <div class="inner">
            <span>Orion R8</span>
            <small>रु 1,800</small>
            <pre>r820</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/r820.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="2013rs7">
    <div class="details">
        <div class="inner">
            <span>Orion RS7</span>
            <small>रु 2,000</small>
            <pre>2013rs7</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/2013rs7.png" loading="lazy"></div>
</div><div class="vehicle " data-model="911r">
    <div class="details">
        <div class="inner">
            <span>Porchse 911R</span>
            <small>रु 2,200</small>
            <pre>911r</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/911r.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="500gtrlam">
    <div class="details">
        <div class="inner">
            <span>Rambarini Diablo</span>
            <small>रु 3,000</small>
            <pre>500gtrlam</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/500gtrlam.png" loading="lazy"></div>
</div><div class="vehicle " data-model="18performante">
    <div class="details">
        <div class="inner">
            <span>Rambarini Performante</span>
            <small>रु 2,800</small>
            <pre>18performante</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/18performante.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="wraith">
    <div class="details">
        <div class="inner">
            <span>Rolls Regal Spectre</span>
            <small>रु 1,800</small>
            <pre>wraith</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/wraith.png" loading="lazy"></div>
</div><div class="vehicle " data-model="jp12">
    <div class="details">
        <div class="inner">
            <span>Rover Wrangler</span>
            <small>रु 2,000</small>
            <pre>jp12</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/jp12.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="2020silv">
    <div class="details">
        <div class="inner">
            <span>Silverline Trail Boss</span>
            <small>रु 2,000</small>
            <pre>2020silv</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/2020silv.png" loading="lazy"></div>
</div><div class="vehicle " data-model="mgt">
    <div class="details">
        <div class="inner">
            <span>Stallion GT</span>
            <small>रु 2,800</small>
            <pre>mgt</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/legendary/mgt.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="ladybird6str">
    <div class="details">
        <div class="inner">
            <span>VW Ladybug</span>
            <small>रु 1,800</small>
            <pre>ladybird6str</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/ladybird6str.png" loading="lazy"></div>
</div><div class="vehicle " data-model="yosemite3">
    <div class="details">
        <div class="inner">
            <span>Yosemite Custom</span>
            <small>रु 1,000</small>
            <pre>yosemite3</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 0 100%)"><img alt="EDM vehicle" src="images/legendary/yosemite3.png" loading="lazy"></div>
</div></div> 
<p id="footer">© Luxury Autos By FouL Gaming</p></div>
<body>
    <div id="page">
        <h1><a href="/?expires=&s=">Legendary Imports</a></h1>
        <div id="vehicles"></div>
    </div>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/polyfill.js"></script>
    <script src="js/view.js"></script>
</body>

</html>
