<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>notused Imports - Luxury Autos</title>
    <meta name="title" content="notused Imports - Luxury Autos">
    <meta name="description" content="A Catalog for the Luxury Autos to help you find your import dream car easily.">
    <meta property="twitter:image" content="https://i.postimg.cc/vZWjpPw9/banner-min.png">
    <link rel="icon" href="https://i.postimg.cc/T25wYrTT/legacyrpnepal.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/view.css" />
    <script>
        const category = "heroic",
            title = "Not Used",
            server = "";
    </script>
</head>
<div id="page">
    <h1><a href="/?expires=&amp;s=">Not Used Imports</a></h1>
    <div id="vehicles"><div class="vehicle invert" data-model="rmodsuprapandem">
        <div class="details">
            <div class="inner">
                <span>2020 Super Pandem</span>
                <small>रु 10,000</small>
                <pre>rmodsuprapandem</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/notused/rmodsuprapandem.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="ikx3m2p23">
        <div class="details">
            <div class="inner">
                <span>BMV M2 M Performance 2023</span>
                <small>रु 10,000</small>
                <pre>ikx3m2p23</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/notused/ikx3m2p23.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="gemera">
        <div class="details">
            <div class="inner">
                <span>Koenigseggs Camera</span>
                <small>रु 10,000</small>
                <pre>gemera</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/notused/gemera.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="992ts">
        <div class="details">
            <div class="inner">
                <span>2021 Pork 911 992 Turbo S</span>
                <small>रु 10,000</small>
                <pre>992ts</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/notused/992ts.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="redbull21">
        <div class="details">
            <div class="inner">
                <span>Greenbull F2 2021 RB16B</span>
                <small>रु 10,000</small>
                <pre>redbull21</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/notused/redbull21.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="chevropremtn">
        <div class="details">
            <div class="inner">
                <span>Cheverlet Blazing Premium 2019</span>
                <small>रु 10,000</small>
                <pre>chevropremtn</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/notused/chevropremtn.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="valkyrietp">
        <div class="details">
            <div class="inner">
                <span>Astmha Martin, Valkyrie</span>
                <small>रु 10,000</small>
                <pre>valkyrietp</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/notused/valkyrietp.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="ocnetrongt18">
        <div class="details">
            <div class="inner">
                <span>Orion RS E-Tron GT</span>
                <small>रु 10,000</small>
                <pre>ocnetrongt18</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 0 100%)"><img alt="EDM vehicle" src="images/notused/ocnetrongt18.png" loading="lazy"></div>
    </div></div>
    <p id="footer">© Luxury Autos By FouL Gaming</p></div>
<body>
    <div id="page">
        <h1><a href="/?expires=&s=">Not Used Imports</a></h1>
        <div id="vehicles"></div>
    </div>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/polyfill.js"></script>
    <script src="/js/view.js"></script>
</body>

</html>
