<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rare Imports - Luxury Autos</title>
    <meta name="title" content="Rare Imports - Luxury Autos">
    <meta name="description" content="A Catalog for the Luxury Autos to help you find your import dream car easily.">
    <meta property="twitter:image" content="https://i.postimg.cc/vZWjpPw9/banner-min.png">
    <link rel="icon" href="https://i.postimg.cc/T25wYrTT/legacyrpnepal.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="view.css" />
    <script>
        const category = "heroic",
            title = "Rare",
            server = "";
    </script>
</head>
<div id="page">
    <h1><a href="/?expires=&amp;s=">Rare Imports</a></h1>
    <div id="vehicles"><div class="vehicle invert" data-model="zx10r">
        <div class="details">
            <div class="inner">
                <span>Kasaki ZX10R</span>
                <small>रु 2000</small>
                <pre>zx10r</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/rare/zx10r.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="deluxo2">
        <div class="details">
            <div class="inner">
                <span>Supreme Lux</span>
                <small>रु 1,800</small>
                <pre>deluxo2</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/rare/deluxo2.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="goldwing">
        <div class="details">
            <div class="inner">
                <span>Harmonia GL1800 Goldwing</span>
                <small>रु 1,400</small>
                <pre>goldwing</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/rare/goldwing.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="flhxs_streetglide_special18">
        <div class="details">
            <div class="inner">
                <span>Harleyway Streetglide Special</span>
                <small>रु 1,300</small>
                <pre>flhxs_streetglide_special18</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/rare/flhxs_streetglide_special18.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="m2f22">
        <div class="details">
            <div class="inner">
                <span>Bavaria F22</span>
                <small>रु 2,000</small>
                <pre>m2f22</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/rare/m2f22.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="club">
        <div class="details">
            <div class="inner">
                <span>BF Club</span>
                <small>रु 1,600</small>
                <pre>club</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/rare/club.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="wrx19">
        <div class="details">
            <div class="inner">
                <span>2019 Legacy RapidStorm S</span>
                <small>रु 2,000</small>
                <pre>wrx19</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/rare/wrx19.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="rmodcharger">
        <div class="details">
            <div class="inner">
                <span>2020 Charge Dodger Hellcat</span>
                <small>रु 3,500</small>
                <pre>rmodcharger</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/rare/rmodcharger.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="harleychopper2">
        <div class="details">
            <div class="inner">
                <span>Harleyway, Fat Boy</span>
                <small>रु 1,800</small>
                <pre>harleychopper2</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/rare/harleychopper2.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="mcqueen">
        <div class="details">
            <div class="inner">
                <span>Lightning McQueen (Epic)</span>
                <small>रु 2,000</small>
                <pre>mcqueen</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/rare/mcqueen.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="rs3s20">
        <div class="details">
            <div class="inner">
                <span>2020 Orion RS3</span>
                <small>रु 2,400</small>
                <pre>rs3s20</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/rare/rs3s20.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="hsvmaloo">
        <div class="details">
            <div class="inner">
                <span>HSV, Maloo</span>
                <small>रु 1,800</small>
                <pre>hsvmaloo</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/rare/hsvmaloo.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="segwayciv">
        <div class="details">
            <div class="inner">
                <span>Segway</span>
                <small>रु 1,400</small>
                <pre>segwayciv</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/rare/segwayciv.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="488lb">
        <div class="details">
            <div class="inner">
                <span>2018 Ferari 488 GTB</span>
                <small>रु 3,400</small>
                <pre>488lb</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/rare/488lb.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="rs520">
        <div class="details">
            <div class="inner">
                <span>2020 Orion 5-RS</span>
                <small>रु 2,400</small>
                <pre>rs520</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/rare/rs520.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="lcm8">
        <div class="details">
            <div class="inner">
                <span>Bavaria G-Force Fury</span>
                <small>रु 2,800</small>
                <pre>lcm8</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/rare/lcm8.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="foxharley2">
        <div class="details">
            <div class="inner">
                <span>Harleyway CVO</span>
                <small>रु 1,000</small>
                <pre>foxharley2</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/rare/foxharley2.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="valkyrietp2">
        <div class="details">
            <div class="inner">
                <span>Astmha Martin, Valkyrie 2</span>
                <small>रु 2,600</small>
                <pre>valkyrietp2</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/rare/valkyrietp2.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="stanier5">
        <div class="details">
            <div class="inner">
                <span>Rapid Stanier Off Road</span>
                <small>रु 1,400</small>
                <pre>stanier5</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/rare/stanier5.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="amggtbyv">
        <div class="details">
            <div class="inner">
                <span>OMG GT LegacyRP Edition</span>
                <small>रु 2,600</small>
                <pre>amggtbyv</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/rare/amggtbyv.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="giuliaqv">
        <div class="details">
            <div class="inner">
                <span>Alpha Romeo Juliet</span>
                <small>रु 2,800</small>
                <pre>giuliaqv</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%)"><img alt="EDM vehicle" src="images/rare/giuliaqv.png" loading="lazy"></div>
    </div></div>
    <p id="footer">© Luxury Autos By FouL Gaming</p></div>
<body>
    <div id="page">
        <h1><a href="/?expires=&s=">Rare Imports</a></h1>
        <div id="vehicles"></div>
    </div>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/polyfill.js"></script>
    <script src="js/view.js"></script>
</body>

</html>
