<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Respected Imports - Luxury Autos</title>
    <meta name="title" content="Respected Imports - Luxury Autos">
    <meta name="description" content="A Catalog for the Luxury Autos to help you find your import dream car easily.">
    <meta property="twitter:image" content="https://edm.twoot.orgimages/main/banner_min.png">
    <link rel="icon" href="https://i.postimg.cc/T25wYrTT/legacyrpnepal.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/view.css" />
    <script>
        const category = "respected",
            title = "Respected",
            server = "";
    </script>
</head>
<div id="page">
<h1><a href="/?expires=&amp;s=">Respected Imports</a></h1>
<div id="vehicles"><div class="vehicle invert" data-model="camaro70">
    <div class="details">
        <div class="inner">
            <span>17 Camero</span>
            <small>रु 1,400</small>
            <pre>camaro70</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/camaro70.png" loading="lazy"></div>
</div><div class="vehicle " data-model="yrenault5tb">
    <div class="details">
        <div class="inner">
            <span>1981 Renoir 5 Turbo Rally</span>
            <small>रु 1,200</small>
            <pre>yrenault5tb</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/yrenault5tb.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="honcrx91">
    <div class="details">
        <div class="inner">
            <span>1990 Harmonia CRX Si-R</span>
            <small>रु 1,300</small>
            <pre>honcrx91</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/honcrx91.png" loading="lazy"></div>
</div><div class="vehicle " data-model="nisgtir">
    <div class="details">
        <div class="inner">
            <span>1990 Nihon Sunny GTI-R</span>
            <small>रु 1,400</small>
            <pre>nisgtir</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/nisgtir.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="a70">
    <div class="details">
        <div class="inner">
            <span>1990 Typhoon Sura Mk3</span>
            <small>रु 1,800</small>
            <pre>a70</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/a70.png" loading="lazy"></div>
</div><div class="vehicle " data-model="foxharley1">
    <div class="details">
        <div class="inner">
            <span>1996 Harleyway Soft Trail</span>
            <small>रु 1,200</small>
            <pre>foxharley1</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/foxharley1.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="golf4">
    <div class="details">
        <div class="inner">
            <span>1998 MV Tennis GTI Mk4</span>
            <small>रु 1,000</small>
            <pre>golf4</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/golf4.png" loading="lazy"></div>
</div><div class="vehicle " data-model="is300">
    <div class="details">
        <div class="inner">
            <span>2001 Lexis IS300</span>
            <small>रु 1,600</small>
            <pre>is300</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/is300.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="dc5">
    <div class="details">
        <div class="inner">
            <span>2003 Harmonia Integra Type R</span>
            <small>रु 1,500</small>
            <pre>dc5</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/dc5.png" loading="lazy"></div>
</div><div class="vehicle " data-model="gstylingg35">
    <div class="details">
        <div class="inner">
            <span>2008 Infinity G35</span>
            <small>रु 1,800</small>
            <pre>gstylingg35</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/gstylingg35.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="brz13">
    <div class="details">
        <div class="inner">
            <span>2013 Subari BRZ</span>
            <small>रु 2,000</small>
            <pre>brz13</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/brz13.png" loading="lazy"></div>
</div><div class="vehicle " data-model="tts">
    <div class="details">
        <div class="inner">
            <span>2015 Orion TTS</span>
            <small>रु 1,800</small>
            <pre>tts</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/tts.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="is350mod">
    <div class="details">
        <div class="inner">
            <span>2016 Lexis is350</span>
            <small>रु 1,600</small>
            <pre>is350mod</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/is350mod.png" loading="lazy"></div>
</div><div class="vehicle " data-model="indiancdh">
    <div class="details">
        <div class="inner">
            <span>2020 Indigenous Chief Dark Steed</span>
            <small>रु 1,200</small>
            <pre>indiancdh</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/indiancdh.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="lwcla45">
    <div class="details">
        <div class="inner">
            <span>2020 Mercia-AMG A 45 4MATIC Freedom Stroll</span>
            <small>रु 1,600</small>
            <pre>lwcla45</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/lwcla45.png" loading="lazy"></div>
</div><div class="vehicle " data-model="firebird77">
    <div class="details">
        <div class="inner">
            <span>77 Phoenix</span>
            <small>रु 1,600</small>
            <pre>firebird77</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/firebird77.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="f15078">
    <div class="details">
        <div class="inner">
            <span>78 Ford F1 Fifty</span>
            <small>रु 1,200</small>
            <pre>f15078</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/f15078.png" loading="lazy"></div>
</div><div class="vehicle " data-model="slave">
    <div class="details">
        <div class="inner">
            <span>Bound Rider</span>
            <small>रु 1,000</small>
            <pre>slave</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/slave.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="ellie6str">
    <div class="details">
        <div class="inner">
            <span>Ellie 6GT Drift</span>
            <small>रु 1,200</small>
            <pre>ellie6str</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/ellie6str.png" loading="lazy"></div>
</div><div class="vehicle " data-model="f150">
    <div class="details">
        <div class="inner">
            <span>F1 Fifty</span>
            <small>रु 2,400</small>
            <pre>f150</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/f150.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="fallen">
    <div class="details">
        <div class="inner">
            <span>Fallen Rider</span>
            <small>रु 1,100</small>
            <pre>fallen</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/fallen.png" loading="lazy"></div>
</div><div class="vehicle " data-model="hellion">
    <div class="details">
        <div class="inner">
            <span>Hades Import</span>
            <small>रु 1,300</small>
            <pre>hellion</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/hellion.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="streetglide">
    <div class="details">
        <div class="inner">
            <span>Harleyway Streetglide</span>
            <small>रु 1,000</small>
            <pre>streetglide</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/streetglide.png" loading="lazy"></div>
</div><div class="vehicle " data-model="eg6">
    <div class="details">
        <div class="inner">
            <span>Harmonia Civic EG</span>
            <small>रु 1,300</small>
            <pre>eg6</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/eg6.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="levante">
    <div class="details">
        <div class="inner">
            <span>Maseratti Levanto</span>
            <small>रु 1,600</small>
            <pre>levante</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/levante.png" loading="lazy"></div>
</div><div class="vehicle " data-model="180sx">
    <div class="details">
        <div class="inner">
            <span>Nihon 180sx</span>
            <small>रु 1,700</small>
            <pre>180sx</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/180sx.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="rs4avant">
    <div class="details">
        <div class="inner">
            <span>Orion RS4</span>
            <small>रु 1,800</small>
            <pre>rs4avant</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/rs4avant.png" loading="lazy"></div>
</div><div class="vehicle " data-model="trhawk">
    <div class="details">
        <div class="inner">
            <span>Rover Track-Hawk</span>
            <small>रु 1,500</small>
            <pre>trhawk</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/trhawk.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="silv86">
    <div class="details">
        <div class="inner">
            <span>Silverline 86</span>
            <small>रु 1,300</small>
            <pre>silv86</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/silv86.png" loading="lazy"></div>
</div><div class="vehicle " data-model="ast">
    <div class="details">
        <div class="inner">
            <span>Stellar Orion Conqueror</span>
            <small>रु 1,800</small>
            <pre>ast</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/ast.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="subn">
    <div class="details">
        <div class="inner">
            <span>Suburbia</span>
            <small>रु 1,200</small>
            <pre>subn</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/subn.png" loading="lazy"></div>
</div><div class="vehicle " data-model="nspeedo">
    <div class="details">
        <div class="inner">
            <span>Swift Van</span>
            <small>रु 1,000</small>
            <pre>nspeedo</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/nspeedo.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="supra2">
    <div class="details">
        <div class="inner">
            <span>Typhoon Sura</span>
            <small>रु 1,200</small>
            <pre>supra2</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/supra2.png" loading="lazy"></div>
</div><div class="vehicle " data-model="youga3">
    <div class="details">
        <div class="inner">
            <span>Youga Custom</span>
            <small>रु 1,100</small>
            <pre>youga3</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/respected/youga3.png" loading="lazy"></div>
</div><div class="vehicle invert" data-model="zr3806str">
    <div class="details">
        <div class="inner">
            <span>zr3806str</span>
            <small>रु 1,500</small>
            <pre>zr3806str</pre>
        </div>

        <div class="colors">
            <div class="color" data-color="mb" title="Matte Black"></div>
            <div class="color" data-color="mw" title="Matte White"></div>
            <div class="color" data-color="r" title="Red"></div>
            <div class="color" data-color="g" title="Green"></div>
            <div class="color" data-color="b" title="Blue"></div>
        </div>
    </div>

    <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%)"><img alt="EDM vehicle" src="images/respected/zr3806str.png" loading="lazy"></div>
</div></div>
<p id="footer">© Luxury Autos By FouL Gaming</p></div>

    </div>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/polyfill.js"></script>
    <script src="/js/view.js"></script>
</body>

</html>
