<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Special Imports - Luxury Autos</title>
    <meta name="title" content="Special Imports - Luxury Autos">
    <meta name="description" content="A Catalog for the Luxury Autos to help you find your import dream car easily.">
    <meta property="twitter:image" content="https://i.postimg.cc/vZWjpPw9/banner-min.png">
    <link rel="icon" href="https://i.postimg.cc/T25wYrTT/legacyrpnepal.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/view.css" />
    <script>
        const category = "special",
            title = "Special",
            server = "";
    </script>
</head>
<div id="page">
    <h1><a href="/?expires=&amp;s=">Special Imports</a></h1>
    <div id="vehicles"><div class="vehicle invert" data-model="c10">
        <div class="details">
            <div class="inner">
                <span>1960 Thundersteel Roamer C ten</span>
                <small>रु 1,699</small>
                <pre>c10</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/special/c10.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="jagxjs80">
        <div class="details">
            <div class="inner">
                <span>1988 Panther Xs80</span>
                <small>रु 1,599</small>
                <pre>jagxjs80</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/special/jagxjs80.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="benzsl63">
        <div class="details">
            <div class="inner">
                <span>2002 Midnight Breeze S63</span>
                <small>रु 1,999</small>
                <pre>benzsl63</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/special/benzsl63.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="f430s">
        <div class="details">
            <div class="inner">
                <span>2004 Flamestrike XF-430 Serpent</span>
                <small>रु 2,400</small>
                <pre>f430s</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/special/f430s.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="pulse">
        <div class="details">
            <div class="inner">
                <span>2008 Unity Pulse</span>
                <small>रु 2,200</small>
                <pre>pulse</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/special/pulse.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="volva">
        <div class="details">
            <div class="inner">
                <span>2010 Gnarly Stag</span>
                <small>रु 2,500</small>
                <pre>volva</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/special/volva.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="tunak">
        <div class="details">
            <div class="inner">
                <span>2010 TVS Tuk Tuk</span>
                <small>रु 2,000</small>
                <pre>tunak</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/special/tunak.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="vulcan3">
        <div class="details">
            <div class="inner">
                <span>2017 Pastor Martini Vilocoraptor</span>
                <small>रु 2,500</small>
                <pre>vulcan3</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/special/vulcan3.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="ms1">
        <div class="details">
            <div class="inner">
                <span>2017 Stormseeker S one</span>
                <small>रु 2,600</small>
                <pre>ms1</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/special/ms1.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="roma22">
        <div class="details">
            <div class="inner">
                <span>2022 Flamestrike Romer</span>
                <small>रु 2,500</small>
                <pre>roma22</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/special/roma22.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="goon">
        <div class="details">
            <div class="inner">
                <span>2022 Unistrike Goon</span>
                <small>रु 1,800</small>
                <pre>goon</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/special/goon.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="mc20h">
        <div class="details">
            <div class="inner">
                <span>2023 Mazerosa GT M20</span>
                <small>रु 2,900</small>
                <pre>mc20h</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/special/mc20h.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="mx5hr">
        <div class="details">
            <div class="inner">
                <span>2023 Mazerunner Track</span>
                <small>रु 2,100</small>
                <pre>mx5hr</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/special/mx5hr.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="911rsr">
        <div class="details">
            <div class="inner">
                <span>2023 Primordial GTS-63</span>
                <small>रु 2,600</small>
                <pre>911rsr</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/special/911rsr.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="gt430">
        <div class="details">
            <div class="inner">
                <span>2023 Unity GT 430</span>
                <small>रु 3,000</small>
                <pre>gt430</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%)"><img alt="EDM vehicle" src="images/special/gt430.png" loading="lazy"></div>
    </div><div class="vehicle " data-model="24brz">
        <div class="details">
            <div class="inner">
                <span>2024 Subsonic XRZ</span>
                <small>रु 3,400</small>
                <pre>24brz</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 80px, 80px 0, 100% 0, 100% 100%, 80px 100%, 0 calc(100% - 80px))"><img alt="EDM vehicle" src="images/special/24brz.png" loading="lazy"></div>
    </div><div class="vehicle invert" data-model="66fast">
        <div class="details">
            <div class="inner">
                <span>66 Flamestride Galloper</span>
                <small>रु 2,000</small>
                <pre>66fast</pre>
            </div>
    
            <div class="colors">
                <div class="color" data-color="mb" title="Matte Black"></div>
                <div class="color" data-color="mw" title="Matte White"></div>
                <div class="color" data-color="r" title="Red"></div>
                <div class="color" data-color="g" title="Green"></div>
                <div class="color" data-color="b" title="Blue"></div>
            </div>
        </div>
    
        <div class="image" style="clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%)"><img alt="EDM vehicle" src="images/special/66fast.png" loading="lazy"></div>
    </div></div>
    <p id="footer">© Luxury Autos By FouL Gaming</p></div>
<body>
    <div id="page">
        <h1><a href="/?expires=&s=">Special Imports</a></h1>
        <div id="vehicles"></div>
    </div>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/polyfill.js"></script>
    <script src="js/view.js"></script>
</body>

</html>
